<!DOCTYPE html>
<html>
  <head>
    <title>Admin manage option</title>
    <!-- <link rel='stylesheet' href='../../public/stylesheets/styleUser.css' /> -->
  </head>
  <body>
    <div class="container">
      <h4><a href="/admin/ManageUser">Manage Users</a></h4>
      <h3><a href="/admin/ManageDonations">Manage Donations</a></h3>
    </div>
  </body>
</html>