<!DOCTYPE html>
<html>
  <head>
    <title>Manage Users</title>
    
  </head>
  <body>
    <div>
      <h1>Manage users</h1>
      <h3><a href="/admin/createUser">Create User</a></h3>
      <h3><a href="/admin/listUsers">List Users</a></h3>
      

    </div>
  </body>
</html>
