<!DOCTYPE html>
<html>
  <head>
    <title>Manage Camp</title>
    
  </head>
  <body>
    <div>
      <h1>Manage Campanhas</h1>
      <h3><a href="/admin/getCampanhas">List Users</a></h3>
      

    </div>
  </body>
</html>
