body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px;
  background-color: #a9a9a9;
}

a {
  color: #d3d3d3;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

/* #logo {
  width: 400px;
  height: 200px;
  float: left;
  margin: 5px;
  border: 1px solid black;
}
 */

/* 
#desc {
  margin-left: 420px;
}
 */

.justify-content-md-center {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.2), 0 9px 26px 0 rgba(255, 255, 255, 0.19);
  background-color: white;
}

.borderBlack {
  border: 2px solid black;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

button {
  margin: 3px;
}

.firstPage {
  width: 100%;
  margin: 5px;
}

img.startPage {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 480px) {
  img {
    width: 250px;
    height: 125px;
    float: left;
    margin: 5px;
  }
}