<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/registerStyle.css">

    <title>Log In Page</title>

</head>

<body>

    <div class="container">
        <div class="justify-content-md-center">
            <div class="login-form-1">
                <h3 class="font-weight-bold">Login</h3><br>
                <% include ./messages %>
                <form action="/login" method="POST">
                    <div class="form-group">

                        <label><strong>Username :</strong></label>
                        <input name="username" type="text" class="form-control" placeholder="Introduz o username..." />
                    </div>
                    <div class="form-group">
                        <label><strong>Password :</strong></label>
                        <input name="password" type="password" class="form-control" placeholder="Introduz a sua password..." />

                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Login" />
                    </div>
                    <div class="form-group">

                        
                        Não tem conta? <a href="/register" class="ForgetPwd">Crie uma!</a>

                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>