<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../images/logo.png" alt="logo" width="400" height="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Campanhas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact(Ainda Temos que fazer)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <br>

    <div class="col-md-5 ml-auto">
        Bem vindo <input type="hidden" name="username" value="<%= name %>"><%= name %><button type="button"
            class="btn btn-secondary"><img src="../images/logo/def.png" alt="def" style="width:20px;height:20px;">
            Definição</button>
        <button type="button" class="btn btn-secondary"><img src="../images/logo/logout.png" alt="def"
                style="width:20px;height:20px;"> Log Out</button>
    </div>
    <br>
    <!-- Page Content -->
    <div class="container">
        <h1>Trabalho de PAW</h1><br>
        <h1>Nome :</h1><br>
        <h1>Numero :</h1><br>
        <h1>Grupo :</h1><br>

        <h1>Nome :</h1><br>
        <h1>Numero :</h1><br>
        <h1>Grupo :</h1><br>
    </div>


</body>

</html>