<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Admin manage option</title>
  <link rel="stylesheet" href="/stylesheets/WalpaperPageStyle.css" type="text/css">
</head>

<body>
  <div class="container">
    <div class="justify-content-md-center">
      <h1 class="font-weight-bold">Admin Tools</h1><br>
      <% include ../messages %>
      <a href="/admin/ManageUser">Manage Users</a><br><br>
      <a href="/admin/ManageDonations">Manage Campanhas</a><br><br>
      <a href="/" class="inicialPage">Pagina Inicial</a>
    </div>
  </div>
</body>

</html>