<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/WalpaperPageStyle.css">
  <title>Manage Users</title>

</head>

<body>

  <div class="container">
    <div class="justify-content-md-center">
      <h1 class="font-weight-bold">Manage Users</h1><br>
      <% include ../messages %>
      <h3><a href="/admin/createUser">Create User</a></h3>
      <h3><a href="/admin/listUsers">List Users</a></h3><br>
      <a href="/admin" class="inicialPage">Pagina Anterior</a>
    </div>
  </div>

</body>

</html>